body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.light{
  background-color: rgb(152, 165, 185);
}
div.dark{
  background-color: rgb(41, 39, 39);
  color: rgb(171, 171, 171);
}
div.testing{
  display: flex;
  flex-direction: column;
  padding-bottom: 100%; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div.rowTest{
  display: flex;
  flex-direction: row;
}

html.light{
  background-color: rgb(152, 165, 185);
}
html.dark{
  background-color: rgb(41, 39, 39);
}