body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* div.light{
  background-color: rgb(255, 255, 255);
}

div.dark{
  background-color: rgb(18, 18, 18);
  color: rgb(238, 238, 238);
} */

div.testing{
  display: flex;
  flex-direction: column;
  padding-bottom: 100%; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.rowTest{
  display: flex;
  flex-direction: row;
}


div.shiftdown{
   display: flex;
   flex-direction: row;
color: rgba(117, 58, 195, 0.177);
}
