.cryptoLogo {

  position: relative;
  margin: auto;
 
  top: -33px;
  margin-bottom: -25px;
  img{
    width:50px;
    border-radius: 50%;

  }
}
.imgContainer {
  display: flex;
  flex-basis: 100%;
}