.cryptoLogo {
  position: relative;
  margin: auto;
  top: -33px;
  margin-bottom: -25px;

  img{
    width:50px;
    border-radius: 50%;
  }
}
.cryptoLogo:hover{
  position: relative;
  margin: auto;
  top: -40px;
  margin-bottom: -25px;
}

.imgContainer {
  display: flex;
  flex-basis: 100%;
}

.singleCryptoImg{
  border-radius: 50%;
}

.trendingAnime{
  animation-name: trending;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes trending {
  0% {

    margin-left: 0px;
  }
  100% {

    margin-left: 94%;
  }
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}