img.rounded {
  object-fit: cover;
  border-radius: 3%;
  height: 45px;
}

img.rounded:hover {
  margin-top: -4px;
}

.anime:hover{
  margin-top: -3px;
}

.admin{
  animation-name: backgroundColorPalette;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.adminDark{
  animation-name: backgroundColorPaletteDark;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.admin2{
  animation-name: backgroundColorPalette2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.adminDark2{
  animation-name: backgroundColorPaletteDark2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.admin3{
  animation-name: backgroundColorPalette3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.adminDark3{
  animation-name: backgroundColorPaletteDark3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundColorPalette {
  0% {
    background-color: #60b533;
    box-shadow: -10px 20px 40px #105728;
    margin-top: 0px;
  }
  50% {
    background-color: #307759;
    box-shadow: 0 5px 15px #105728;
    margin-top: 20px;
  }
  100% {
    background-color: #307759;
    box-shadow: 0 5px 15px #105728;
    margin-top: 20px;
  }
}

@keyframes backgroundColorPaletteDark {
  0% {
    background-color: #545454;
    box-shadow: -5px 10px 20px #ecf1ee;
    margin-top: 0px;
  }
  50% {
    background-color: #222121;
    box-shadow: 0 5px 10px #ecf1ee;
    margin-top: 20px;
  }
  100% {
    background-color: #222121;
    box-shadow: 0 5px 10px #ecf1ee;
    margin-top: 20px;
  }
}

@keyframes backgroundColorPalette2 {
  0% {
    background-color: #307759;
    box-shadow: 0 5px 15px #105728;
    margin-top: 20px;
  }
  50% {
    background-color:#60b533;
    box-shadow: 0px 20px 40px #105728;
    margin-top: 0px;
  }
  100% {
    background-color: #307759;
    box-shadow: 0 5px 15px #105728;
    margin-top: 20px;
  }
}

@keyframes backgroundColorPaletteDark2 {
  0% {
    background-color: #222121;
    box-shadow: 0 5px 10px #ecf1ee;
    margin-top: 20px;
  }
  50% {
    background-color:#545454;
    box-shadow: 0px 10px 20px #ecf1ee;
    margin-top: 0px;
  }
  100% {
    background-color: #222121;
    box-shadow: 0 5px 10px #ecf1ee;
    margin-top: 20px;
  }
}

@keyframes backgroundColorPalette3 {
  0% {
    background-color: #307759;
    box-shadow: 0 5px 15px #105728;
    margin-top: 20px;
  }
  50% {
    background-color: #307759;
    box-shadow: 0 5px 15px #105728;
    margin-top: 20px;
  }
  100% {
    background-color: #60b533;
    box-shadow: 10px 20px 40px #105728;
    margin-top: 0px;
  }
}

@keyframes backgroundColorPaletteDark3 {
  0% {
    background-color: #222121;
    box-shadow: 0 5px 10px #ecf1ee;
    margin-top: 20px;
  }
  50% {
    background-color: #222121;
    box-shadow: 0 5px 10px #ecf1ee;
    margin-top: 20px;
  }
  100% {
    background-color: #545454;
    box-shadow: 5px 10px 20px #ecf1ee;
    margin-top: 0px;
  }
}